
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}


    {% block test %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/folder.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    {% endblock %}   

    {% block scripts %}
    {% endblock %}   

</head>
<body>
    {% block body %} 
    {% endblock %}   
</body>


</html>